{% extends 'base.html.twig' %}

{% block title %}Carrito{% endblock %}

{% block body %}
    <main>
        <h1>Carrito</h1>

        {% if carrito is not empty %}
            <div class="carrito">
                {% for producto in carrito %}
                    
                        <p>{{ producto.nombre }}</p>
                        <p>{{ producto.precio }}</p>
                        <a href="/productos/{{ producto.id }}"><img src="/img/{{ producto.imagen }}"></a>
                        <p>{{producto.cantidad}}</p>
                        <a href="/carrito/borrar/{{producto.id}}">Borrar</a>
                {% endfor %}
            </div>
        {% else %}
            <p>No hay productos disponibles en esta categoría.</p>
        {% endif %}
    </main>
{% endblock %}

