{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in errors %}
        <p class="alert alert-danger" role="alert">{{ flash_error }}</p>
    {% endfor %}

    <h1>Register</h1>
    {{ dump(errors) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{form_row(registrationForm.nombre)}}
        {{form_row(registrationForm.cp)}}
        {{form_row(registrationForm.direccion)}}
        {{form_row(registrationForm.pais)}}
        {{ form_row(registrationForm.agreeTerms,{
            label: 'Acepta los términos'}
        )}}
        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
