{% extends 'base.html.twig' %}

{% block title %}Categorias{% endblock %}

{% block body %}
    <main>
        <h1>{{ categoria.nombre }}</h1>

        <h6>{{ categoria.descripcion }}</h6>

        {% if productos is not empty %}
            <div class="productos">
                {% for producto in productos %}
                    <a href="/productos/{{ producto.id }}">
                        <p>{{ producto.nombre }}</p>
                        <p>{{ producto.precio }}</p>
                        <img src="/img/{{ producto.imagen }}">
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <p>No hay productos disponibles en esta categoría.</p>
        {% endif %}
    </main>
{% endblock %}
