{% extends 'base.html.twig' %}

{% block title %}Productos{% endblock %}

{% block body %}
    <main>
        <h1>Productos</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Peso</th>
                    <th>Stock</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.peso }}</td>
                    <td>{{ producto.stock }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>
                        <a href="{{ path('app_productos_show', {'id': producto.id}) }}">Mostrar</a>
                        <a href="{{ path('app_productos_edit', {'id': producto.id}) }}">Editar</a>
                        {{ include('productos/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">No hay productos disponibles</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_productos_new') }}">Crear Producto</a>
    </main>
{% endblock %}
