{% extends 'base.html.twig' %}

{% block title %}Pedidos{% endblock %}

{% block body %}
    <main>
        <h1>Pedidos</h1>

            <table class="table">
                <tbody>
                    <thead>
                        <tr>
                            <th>Id Pedido</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    {% for pedido in pedidos %}
                    <tr>
                        <td>{{ pedido.id }}</td>
                        <td>{{ pedido.fecha ? pedido.fecha|date('Y-m-d') : '' }}</td>
                        <td>{{ pedido.enviado ? 'Enviado' : 'Pendiente' }}</td>
                        <td>{{ pedido.precio }}€</td>
                        <td><a href="/pedidos/{{ pedido.id }}">Detalles</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </main>

{% endblock %}

