{% extends 'base.html.twig' %}

{% block title %}Pedidos{% endblock %}

{% block body %}
    <main>
        <h1>Pedido</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ pedido.id }}</td>
                </tr>
                <tr>
                    <th>Fecha</th>
                    <td>{{ pedido.fecha ? pedido.fecha|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Enviado</th>
                    <td>{{ pedido.enviado ? 'Enviado' : 'Pendiente' }}</td>
                </tr>
                <tr>
                    <th>Precio</th>
                    <td>{{ pedido.precio }}</td>
                </tr>
            </tbody>
        </table>

        <br>
        <h2>Productos del Pedido</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Total por Producto</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                    <tr>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.cantidad }}</td>
                        <td>{{ producto.precio }}€</td>
                        <td>{{ producto.totalPorProducto }}€</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>
        <a href="{{ path('app_pedidos_index') }}">Volver</a>
    </main>
{% endblock %}

