{% extends 'base.html.twig' %}

{% block title %}Pedidosproductos index{% endblock %}

{% block body %}
    <h1>Pedidosproductos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Unidades</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pedidosproducto in pedidosproductos %}
            <tr>
                <td>{{ pedidosproducto.id }}</td>
                <td>{{ pedidosproducto.unidades }}</td>
                <td>
                    <a href="{{ path('app_pedidosproductos_show', {'id': pedidosproducto.id}) }}">show</a>
                    <a href="{{ path('app_pedidosproductos_edit', {'id': pedidosproducto.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pedidosproductos_new') }}">Create new</a>

{% endblock %}
